<div class="toolbar-container position-absolute d-flex flex-column p-2">
  <div class="d-flex flex-column shadow-sm bg-white border-0">
    <ui-zoom [map]="mapManager.map"></ui-zoom>
  </div>
  <div class="d-flex flex-column mt-2 shadow-sm bg-white border-0">
    <ui-fullscreen></ui-fullscreen>
  </div>
</div>
<div
  class="position-absolute date bg-white p-2 shadow-sm"
  *ngIf="facade.currentDate$ | async as date"
>
  <ng-container *ngIf="facade.dates$ | async as dates">
    <ui-date-picker
      [dates]="facade.dates$ | async"
      [currentDate]="date"
      (currentDateChange)="onDateChange($event)"
    ></ui-date-picker>
    <ui-animator
      class="mx-3"
      [size]="dates.length"
      [index]="dates.indexOf(date)"
      (indexChange)="onAnimatorIndexChange($event)"
    ></ui-animator>
  </ng-container>
</div>
<div class="position-absolute legend-container bg-white px-2 small shadow-sm">
  <ui-legend
    [spec]="stationLegend"
    (changeVisibility)="onStationVisibilityToggle($event)"
    [visible]="stationVisibility"
  ></ui-legend>
  <ui-legend
    [spec]="segmentLegend"
    (changeVisibility)="onSegmentVisibilityToggle($event)"
    [visible]="segmentVisibility"
  ></ui-legend>
</div>

<ui-map [map]="mapManager.map"></ui-map>
<hyfaa-river-segment-overlay></hyfaa-river-segment-overlay>
