.toolbar-container {
  right: 0;
  top: 0;
}

.legend-container {
  bottom: 1em;
  left: 1em;
  height: auto;
  min-width: 200px;
}

.date {
  left: 1em;
  top: 1em;
}

.position-absolute {
  z-index: 10;
}
