.date {
  left: 1em;
  top: 1em;
}

::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  .mat-icon-button {
    color: black !important;
  }
  .mat-input-element:disabled {
    color: inherit;
  }

  .mat-form-field-infix {
    border: none;
  }

  .mat-form-field-flex {
    line-height: 21px;
    margin-top: 0;
  }
  .btn-lg {
    padding: inherit;
    font-size: 16px;
    border-radius: inherit;
  }
}
