<div
  class="flex items-center h-full w-full rounded-2xl hover:scale-[1.02] transition-transform"
  style="border: 5px solid"
  [style.background-color]="tab.color"
  [style.border-color]="tab.color"
  [class.active]="active"
  [ngClass]="!tab.icon ? '!transform-none text-gray-400' : 'text-base'"
>
  <div class="flex flex-col grow items-center">
    <div class="fs-4 pb-3 fw-bold">
      {{ tab.title }}
    </div>
    <img
      *ngIf="tab.icon"
      [src]="tab.icon | safe: 'url'"
      width="64"
      height="64"
    />
  </div>
</div>
