.rounded {
    border-radius: 1rem !important;
    transition: transform 100ms ease-in;
    border: 5px solid;
}
.rounded:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.active {
    border-color: #3d405b !important;
}
