.toolbar-container {
  right: 0;
  top: 0;
}

.legend-container {
  bottom: 1em;
  left: 300px;
  height: auto;
  min-width: 200px;
}

.bg-toggler {
  right: 1em;
  bottom: 1em;
}

::ng-deep .date {
  left: 300px;
  top: 1em;
}
