<div
  class="toolbar-container position-absolute d-none d-sm-flex flex-column p-2"
>
  <div class="d-flex flex-column shadow-sm bg-white border-0">
    <ui-zoom [map]="mapManager.map"></ui-zoom>
  </div>
  <div class="d-flex flex-column mt-2 shadow-sm bg-white border-0">
    <ui-fullscreen></ui-fullscreen>
  </div>
</div>
<hydro-flow-date-player></hydro-flow-date-player>
<div
  class="d-none d-lg-block position-absolute legend-container bg-white px-2 small shadow-sm"
>
  <hyfaa-legend-container></hyfaa-legend-container>
</div>
<div class="">
  <hyfaa-chart-container></hyfaa-chart-container>
</div>
<div class="bg-toggler position-absolute bg-white small shadow-sm">
  <map-bg-toggler
    [map]="mapManager.map"
    [config]="bgLayerConfig"
    width="60"
  ></map-bg-toggler>
</div>
<ui-map [map]="mapManager.map"></ui-map>
<hyfaa-river-segment-overlay></hyfaa-river-segment-overlay>
