<div class="flex flex-column gap-8 mb-12">
  <div class="flex justify-center gap-4">
    <div
      class="h-24 w-24 bg-blue-300 rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500"
    ></div>
    <img class="h-24" src="assets/logo/hydromatters.png" />
    <img class="h-24" src="assets/logo/pigeo.png" />
  </div>
  <div class="mx-16">
    <p translate="">sagui.footer.description</p>
  </div>
  <div class="flex justify-center gap-4">
    <img class="h-24" src="assets/logo/france-relance.png" />
    <img class="h-24" src="assets/logo/cnes.png" />
    <img class="h-24" src="assets/logo/sco.png" />
  </div>
</div>
