<div *ngIf="facade.tab$ | async as tab">
  <ui-legend
    *ngIf="stationLegend$ | async as stationLegend"
    [spec]="stationLegend"
    (changeVisibility)="onStationVisibilityToggle($event)"
    [visible]="stationVisibility"
  ></ui-legend>
  <ui-legend
    *ngIf="isBassin(tab) && bassinLegendSpec$ | async as bassinLegendSpec"
    [spec]="bassinLegendSpec"
    (changeVisibility)="onMvtVisibilityToggle($event)"
    [visible]="mvtVisibility"
  ></ui-legend>
  <hyfaa-segment-legend
    *ngIf="isRiver(tab)"
    (changeVisibility)="onMvtVisibilityToggle($event)"
    [focus]="facade.segmentFocus$ | async"
    [visible]="mvtVisibility"
    (changeFocus)="onFocusChange($event)"
  ></hyfaa-segment-legend>
</div>
